<!DOCTYPE html>
<html lang="en">
  <head>  
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AI</title>
    <link rel="stylesheet" href="static\css\index2.css" />
    <script defer src="static\js\index2.js"></script>
  </head>  
  
  <body>  

    <header id="head">  
      <nav class="logo">
        <!-- DUBBER Logo -->
        <img src="static\photos\dubber-low-resolution-color-logo.jpeg" alt="DUBBER Logo"/> 
      </nav>
      <!-- Navigation Menu -->
      <nav id="nav-link">
        <ul> 
          <li><a href="{{ url_for('Home') }}">Home</a></li>
          <li><a href="#">Trending</a></li>
          <li><a href="#">Technology</a></li>
          <li><a href="#">UseCases</a></li>
        </ul>
      </nav>
    </header>

    <div class="container">
      <!-- Side Navigation Bar -->
      <aside class="side-nav">
        <ul> 
          <li><a href="{{ url_for('index') }}">Dashboard</a></li>
          <li><a href="{{ url_for('pricing') }}">Pricing</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Mode</a></li>
          <li><a href="{{ url_for('SignIn') }}">SignIn</a></li>
          <!-- Add more side nav items here -->
        </ul>
      </aside>
                        <!-- MAIN -->
  <main>
        <!-- CARD-->
        <div class="box">
          <div ><h2>Speech to Text translation</h2></div>

          <div class="box-card">

              <div class="card">
                <div class="buttons">
                <button>Upload a file</button>
                <button>Record Audio</button>  
                </div>

                <div class="innercard">
                <!-- <div><h2>Speech to Text translation</h2></div> -->
               
                <!-- diva -->
                  <div>
                  <img src="/static/photos/voice-search.png" alt="image1"/>
                  <img src="/static/photos/arrow-right.png" alt="image2"/>
                  <img src="/static/photos/transcription.png" />
                  </div>
           
                </div>

                <div class="uploadfile">
                  <form method='POST' enctype="multipart/form-data">
                  <input type="file" class="inputfile" name="file" />
                  <!-- lang -->
                  
                  <select id="language" name="language">
                    <option value="none" selected disabled hidden>Select Language</option> 
                    <option value="Hindi">Hindi</option>
                      <option value="Bengali">Bengali</option>
                      <option value="Nepali">Nepali</option>
                      <option value="Tamil">Tamil</option>
                      <option value="Marathi">Marathi</option>
                      <option value="Gujrati">Gujrati</option>
                      <!-- Add more language options here -->
                  </select>
                  <input type="submit" name="submit" value="Generate Translation" />
                  </form>
                </div>

                <!-- divb -->

        </div>

        

        <div class="card b" >
          <!-- <div class="innercard">
            <div><h2>Speech to Speech translation</h2></div>
            <br />
            <div>
              <img src="/static/photos/voice-search.png" /> 
              <img src="/static/photos/arrow-right.png" />
              <img src="/static/photos/waveform-path.png" alt="image3"/>

            </div> 
          </div>

          <div class="uploadfile">
            <form method='POST' enctype="multipart/form-data">
              <div><input type="file" class="inputfile" name="file" /></div>
              <div><input type="submit" name="submit" value="Generate Speech" /></div>
            </form>
          </div>
           -->
           <div >
            <h3> Your Translation will be shown here :</h3>
          </div>

           <div class="Translate-before">
            <p>Choose an audio file from your system and click on Generate Translation</p>

            <div><img src="static/photos/file.png"></div>
 
           </div>

        </div>

      </div>
        </div>
      </main>
      
      <!-- Translation is here  {{ Translated_text }}  -->
    <footer>
      <!-- Footer content goes here -->
    </footer>

    <script defer src="static\js\index2.js"></script>
    <script src="static\js\app.js"></script>
  </body>
</html>